@import "variables";
@import "header";
@import "main";
@import "seccion1";
@import "secion2";
@import "banner";
@import "footer";
@import "carrousell";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #050209;
  background-image: url(imagenes/banner.1.jpeg);
  color: white;
  font-family: "Oswald", sans-serif;
}

/* pagina secundaria "cuidados" */
.conteiner-2 {
  padding: 5px;
}
@mixin fontstyle {
  color: white;
  background-color: $colorterciario;
  text-transform: uppercase;
}
.cuidadosh3 {
  font-size: 30px;
  @include fontstyle();
}
.cuidadosp {
  font-size: 20px;
  @include fontstyle();
}
/* pagina secundaria "tienda" */
.container {
  margin-bottom: 10px;
}
.card {
  width: 100%;
  height: 400px;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 200px;
}
.card-body h5 {
  color: black;
}
.card-body p {
  @extend .card-body;
}
/* pagina secundaria "contactos" */
.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid: gap 50px;
  margin-top: 50px;
}
.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
  text-decoration: underline;
}
.container-form p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 16px;
}
.container-form a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700px;
}
.container-form a i {
  color: chartreuse;
  margin-right: 10px;
}

.form-color {
  max-width: 25em;
  padding: 30px;
  margin: 0 auto;
  background-color: rgba(120, 119, 123, 0.3);
  border-radius: 0.5em;
  box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}
/* pagina secundaria "preguntas frecuentes" */

.conteiner-pf {
  margin: 10px;
  font-family: sans-serif;
}
.titulo-pf strong {
  font-size: 40px;
  color: gold;
}
strong {
  font-size: 25px;
}
/* @media movile */
@media only screen and (min-width: 300px) and (max-width: 479px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.intro {
    background-image: url(imagenes/imagenprimaria.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-left: 5px;
    margin-bottom: 10px;
    color: black;
    & p {
      font-size: 18px;
    }
  }
  h1 {
    font-size: 30px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    grid-gap: 5px 5px;
  }
  .caja {
    width: 300px;
    height: 250px;
    border: 2px solid springgreen;
  }
  .banner1 {
    width: 90%;
    height: 400px;
    background-image: url(imagenes/Garden-Design.jpg);
    background-size: cover;
    background-position: justify;
    font-size: 25px;
    color: grey;
    padding: 3px;
    margin-bottom: 50px;
    margin-left: 15px;
    border-radius: 5px;
    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 18px;
    }
  }
  .galeria2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
  }
  .galeria2 img {
    width: 230px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .logofooter img {
    width: 100px;
  }
  .textmapa {
    text-align: center;
    font-size: 20px;
  }
  iframe {
    width: 90% !important;
    height: 100px !important;
    margin: 10px;
  }

  //    pagina secundaria movile "cuidados"
  .carousel-item active img {
    height: 100px;
  }
  .cuidadosh3 {
    font-size: 20px;
    width: 100%;
  }
  .cuidadosp {
    font-size: 15px;
  }

  /* pagina secundaria movile "tienda" */
.container{
  padding-left: 5px;
}  
.footerlink li a {
    font-size: 16px;
    width: 80px;
  }
}
//    pagina secundaria "contacto"
.container-form{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid: gap 50px;
  margin-top: 15px;
  padding: 5px;
}
.imput-file {
  width: 100%;
}
.textmapa {
  font-size: 20px;
}

/* tabled */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .logo img {
    width: 200px;
    height: 150px;
  }
  div.intro {
    background-image: url(imagenes/imagenprimaria.jpg);
    width: 100%;
    height: 330px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: black;
  }
  h1 {
    font-size: 40px;
    text-transform: uppercase;
  }
  .contenedor {
    display: grid;
    grid-gap: 5px 5px;
  }
  .caja {
    border: 2px solid springgreen;
  }
  .banner1 {
    width: 100%;
    height: 450px;
    background-image: url(imagenes/Garden-Design.jpg);
    background-size: cover;
    background-position: justify;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .galeria2 {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  .banner2 {
    width: 100%;
    height: 250px;
    background-image: url(imagenes/banner.1.jpeg);
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .logofooter img {
    width: 100px;
  }
  /* tabled especies */

  .sec-especies img {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 5px;
    border: 2px solid seagreen;
  }
  .sec-especies h2 {
    margin-top: 20px;
    text-decoration: underline silver;
  }
}
