*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #050209;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%231e7d26' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    color: white;
    font-family: 'Oswald', sans-serif;
}
             /* header */
.navbar-brand img{
    width:100px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

nav{
    width:100%;
    background-image: linear-gradient(to bottom, #32b92c, #30b637, #30b441, #30b149, #32ae50, #3aa34f, #40984e, #448d4d, #467846, #456440, #40503b, #393d37);
}
 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
ul li a:hover{
    color: gold;
    opacity: .7;
}
      /* main */

div.intro{
    width: 100%;
    height: 600px;
    background-image: url(imagenes/imagenprimaria.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    border: 2px solid gray;
}
h1{
    font-size: 70px;
    text-shadow: 5px 5px 5px slategrey;
    letter-spacing: 10px;
    animation-duration: 10s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

div p{
    font-size: 20px;
}
          /* section 1*/
#galeria{
    border: 4px solid rgb(43, 54, 48);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
          }

.contenedor{
    display: grid;
    grid-gap: 20px 40px;
    text-align: center;
    color: white;
    line-height: 120px;
}
.caja:hover{
    transform: scale(1.2);
    transition: all 0.7s;
        }
.caja1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(imagenes/img-galeria1.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: coral;
    background-image: url(imagenes/img.2-galeria.jpg);
    background-size: cover;
    background-position:justify;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja3{
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(imagenes/avenue-tree-park-plant.jpg);
    background-size: cover;
    background-position: bottom;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja4{
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(imagenes/img.4-galeria.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja5{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(imagenes/img.5-galeria.webp);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja6{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(imagenes/img.6-galeria.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja7{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: darkkhaki;
    background-image: url(imagenes/img.7-galeria.jpeg);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
.caja8{
    grid-column: 3/5;
    grid-row: 3/4;
    background-image: url(imagenes/img.diseño.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid greenyellow;
    border-radius: 3px;
}
           /* banner1 */
.banner1{
    width: 100%;
    height: 350px;
    background-image: url(imagenes/Garden\ Design.jpg);
    background-size: cover;
    background-position: justify;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
.banner1 h2{
    font-size: 40px;
    text-shadow: 5px 5px 5px slategrey;

}
           /* setion2 */
.galeria2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding:10px;
}

.galeria2 img {
    width: 300px;
    height: 200px;
    border: 3px solid slategrey;
    border-radius: 2px;
}
.galeria2 h3 {
    font-size: 20px;
}
        /* carrusull de img */
.carousel-item{
    height:400px;
    margin-bottom: 10px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   
            /* banner 2 */
.banner2{
    width: 100%;
    height: 300px;
    background-image: url(imagenes/banner.1.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
            /* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 3px solid seagreen;
    background-image: linear-gradient(to bottom, #2cb92c, #2cb637, #2db440, #2fb148, #32ae4f, #349d4a, #358d44, #347d3f, #2d5e2f, #234021, #172514, #030701);
}
.logofooter img{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}
.footerlink{
    display: flex;
    gap: 30px;
}
iframe{
    width: 300px;
    height: 180px;
}

        /* pagina secundaria "cuidados" */
           

        /* pagina secundaria "especies" */
.especies-text h2 {
    text-align: center;
    color: gold;
}
.sec-especies img{
    margin-top: 10px;
    margin-left: 150px;
}
        /* pagina secundaria "tienda" */     
.card{
    margin-left:30px;
    margin-top: 5px;
    width: 80%;
    height: 400px;

}        
.card img{
    width: 100%;
    height: 200px;

}
.card-body h5 {
    color: black;
}
.card-body p{
    color: black;
}
                /* pagina secundaria "contactos" */
               
           /* @media movile */
@media only screen and (min-width:300px) and (max-width:479px){

 header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
div.intro{
    background-image: url(imagenes/imagenprimaria.jpg);
    width: 100%;
    height: 310px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: black;
  }
  h1{
    font-size: 18px;
  }
  .intro h1 p{
      font-size: 12px;
  }
  .contenedor{
     display: flex;
     flex-direction: column;
     grid-gap: 5px 5px;
 }
 .caja{
     border: 2px solid springgreen;
 }
 .banner1{
    width: 90%;
    background-image: url(imagenes/Garden\ Design.jpg);
    background-size: cover;
    background-position: justify;
    font-size: 15px;
    color: grey;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 5px;
 }
 .galeria2 {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 article{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .galeria2 img{
     width: 230px;
 }
.banner2{
    width: 100%;
    height: 250px;
    background-image: url(imagenes/banner.1.jpeg);
}
.footer{
    display: flex;
    flex-direction: column;
}
.logofooter img{
    width: 100px;
 }
      /* pagina secundaria movile "especies" */
.sec-especies img{
    display: flex;
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 5px;
    border: 2px solid seagreen;
}
.sec-especies  h2{
    margin-top: 20px;
    text-decoration: underline silver;
}
.footerlink li a{
    font-size: 16px;
    width: 80px;
}
}

                        /* tabled */

@media only screen and (min-width:480px) and (max-width:768px){
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.logo img{
    width: 200px;
    height: 150px;
}
div.intro{
    background-image: url(imagenes/imagenprimaria.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: black;
}
h1{
    font-size: 40px;
}
.contenedor{
    display: grid;
    grid-gap: 5px 5px;
}
.caja{
    border: 2px solid springgreen;
}
.banner1{
    width: 90%;
    height: 250px;
    background-image: url(imagenes/Garden\ Design.jpg);
    background-size: cover;
    background-position: justify;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    margin-left:25px;
    border-radius: 5px;
}
.galeria2{
    grid-template-columns: 1fr;
    margin-left: 70px;
}
.banner2{
    width: 100%;
    height: 250px;
    background-image: url(imagenes/banner.1.jpeg);
}
.footer{
    display: flex;
    flex-direction: column;
}
.logofooter img{
    width: 100px;
 }
                   /* tabled especies */

.sec-especies img{
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 5px;
    border: 2px solid seagreen;
}
.sec-especies  h2{
    margin-top: 20px;
    text-decoration: underline silver;
}

}

